@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Admin Panel</h2>

<div class="list-group">

    <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#vehicleManagementCollapse" role="button" aria-expanded="false" aria-controls="vehicleManagementCollapse">
        Zarządzanie pojazdami
    </a>
    <div class="collapse ms-3" id="vehicleManagementCollapse">
        <div class="list-group">
            <a asp-action="ManageVehicles" class="list-group-item list-group-item-action">Edytuj dostępne pojazdy</a>
            <a asp-action="ManageVehicleBrands" class="list-group-item list-group-item-action">Edytuj marki</a>
            <a asp-action="ManageVehicleModels" class="list-group-item list-group-item-action">Edytuj modele</a>
            <a asp-action="ManageVehicleTypes" class="list-group-item list-group-item-action">Edytuj typy</a>
        </div>
    </div>

</div>
