@model CreateVehicleBrandViewModel

<form asp-action="AddVehicleBrand" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Dodaj marke</button>
</form>
